* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 3rem;
}
.uvod {
  width: 23rem;
  margin: auto;
  background-color: #283e50;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  text-align: center;
  }
h1 {
  font-family: Lobster;
  font-weight: 100;
  font-size: 2.5rem;
}
.nadpis {
  margin-top: 1rem;
}
.uvod__text {
  padding: 0 1rem;
}
.hra__text{
  padding: 1rem 2.5rem;
}
p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}
li {
  text-align: start;
  padding-left: 1rem;
}
.ikona {
  padding-left: 0.1rem;
  position: relative;
  top: 0.1rem;
  filter: invert(100%);
}

figure>img {
  width: 100%;
}
main>img {
  border-radius: 10px 10px 0 0;
}
figcaption{
font-style: italic ;
padding: 1rem 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.uvod__odkazy {
  display: flex;
  flex-direction: column;
}
.odkaz--pravidla,
.odkaz--uvod {
  background-color: #1fcca4;
  padding: 1rem 0;
  margin-bottom: 0.1rem;
}
.odkaz--pravidla:hover,
.odkaz--uvod:hover {
  background-color: #1cbb96;
}

.odkaz--hra {
  background-color: #0197f6;
  padding: 1rem 0;
}
.odkaz--hra:hover {
  background-color: #0090e9;
}
